<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
	</configSections>

	<connectionStrings>
		<add name="Airkan" connectionString="server=DESKTOP-KK0G88M;Database=AIRKAN_OEE;Integrated security=yes;" />
	</connectionStrings>

	<appSettings>
		<add key="Port" value="9002" />
		<add key="SourceStationId" value="113" />
		<add key="MessageTimeout" value="1000" />
		<add key="BaseDirectory" value="C:\ControlWorks\Airkan" />
		<add key="VerboseVariableLogging" value="false" />
		<add key="PollingMilliseconds" value="15000" />
		<add key="RestApiTestMode" value="false" />
		<add key="LogFilePath" value="C:\ControlWorks\Airkan\Logs" />
		<add key="CpuSettings" value="C:\ControlWorks\Airkan\Settings\cpu.config" />
		<add key="VariableSettings" value="C:\ControlWorks\Airkan\Settings\variables.config" />
		<add key="VariableTasks" value="C:\ControlWorks\Airkan\Settings\variableTasks.config" />
		<add key="AirkanBartenderFolder" value="C:\ControlWorks\Airkan\Bartender" />
		<add key="AirkanNetworkFolder" value="C:\ControlWorks\Airkan\Sample Input" />

    <!--These setting are for the database connection-->
    <add key="ServerName" value="DESKTOP-KK0G88M" />
    <add key="DatabaseName" value="AIRKAN_OEE" />
    <add key="ProductionTableName" value="LF2024_PRODUCTION" />
    <add key="OrdersTableName" value="LF2024_ORDERS" />

    <!--If using Windows Authentication set this to true.  If this is false a Username and Password are required-->
    <add key="IntegratedSecurity" value="true" />

    <!--Onl needed if IntegratedSecurity is false-->
    <add key="Username" value="" />
    <add key="Password" value="" />

	<add key="FileServerDomain" value="" />
	<add key="FileServerUsername" value="" />
	<add key="FileServerPassword" value="" />	
  </appSettings>

	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>
	</system.diagnostics>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>