[
	{
		"Id": 1,
		"CpuName": "Airkan",
		"TaskInfo": {
			"TaskName": "GLOBAL",
			"Variables": [
				"DataTransfer"
			]
		}
	},
	{
		"Id": 2,
		"CpuName": "Airkan",
		"TaskInfo": {
			"TaskName": "DataTransf",
			"Variables": [
				"Heartbeat",
				"FileNames",
				"FileSendToDisplay",
				"FileLocationJobs",
				"FileLocationPrinter",
				"FileLocationDataReturn",
				"ProductFinished",
				"FileTransferLocation",
				"DataTransferCompletedParts",
				"PrintData",
				"PrinterHeaders",
				"CustomerOrderErp",
				"SendToPrinter",
				"FileNameToLoad",
				"ProductionData",
				"OrderData",
				"SendOrderData",
				"DeleteFile"
			]
		}
	}
]