[
	{
		"Id": 1,
		"CpuName": "Airkan",
		"TaskInfo": {
			"TaskName": "GLOBAL",
			"Variables": [
				"DataTransfer"
			]
		}
	},
	{
		"Id": 2,
		"CpuName": "Airkan",
		"TaskInfo": {
			"TaskName": "DataTransf",
			"Variables": [
				"Heartbeat",
				"FileNames",
				"FileNameToLoad",
				"FileSendToDisplay",
				"FileLocationJobs",
				"FileLocationPrinter",
				"FileLocationDataReturn",
				"ProductFinished",
				"FileTransferLocation",
				"DataTransferCompletedParts"
			]
		}
	}
]