<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AIRKAN_OEEEntities" connectionString="metadata=res://*/Entity.LF2024_PRODUCTION.csdl|res://*/Entity.LF2024_PRODUCTION.ssdl|res://*/Entity.LF2024_PRODUCTION.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KK0G88M;initial catalog=AIRKAN_OEE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIRKAN_OEEEntities1" connectionString="metadata=res://*/Entity.AIRKAN_OEE.csdl|res://*/Entity.AIRKAN_OEE.ssdl|res://*/Entity.AIRKAN_OEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KK0G88M;initial catalog=AIRKAN_OEE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIRKAN_OEEEntities2" connectionString="metadata=res://*/Entity.AIRKAN_OEE.csdl|res://*/Entity.AIRKAN_OEE.ssdl|res://*/Entity.AIRKAN_OEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KK0G88M;initial catalog=AIRKAN_OEE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>