<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="C:\ControlWorks\Airkan\Logs\AirkanLogs.txt" layout="${longdate}|${level:uppercase=true}|${message:withexception=true}|{exception:format=tostring}|{exceptiondata:item=String:format=String:BaseException=Boolean}" />

		<!--<target name="logfile" xsi:type="File" fileName="C:\ControlWorks\Airkan\Logs\AirkanLogs.txt" layout="${longdate} ${level} ${logger} ${message}${onexception:${newline}${IndentException}}" />-->
		<!--<target name="file" xsi:type="File"
		fileName="C:\ControlWorks\Airkan\Logs\AirkanLogs.txt"
		keepFileOpen="false"
		layout="[${threadid}] ${longdate} ${level} ${logger} ${message}${onexception:${newline}${IndentException}}" />-->
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>

