<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <connectionStrings>
    <add name="SmartConveyorDB" connectionString="Filename=C:\ControlWorks\Verizon\Database\SmartConveyor.db"/>
    <add name="ControlworksSettingsDB" connectionString="Filename=C:\ControlWorks\Verizon\Database\ControlWorksSettings.db"/>
    <add name="ControlworksLogsDB" connectionString="Filename=C:\ControlWorks\Verizon\Database\ControlWorksLogs.db"/>
    <add name="MocksDB" connectionString="Filename=C:\ControlWorks\Verizon\Database\Mocks.db"/>

  </connectionStrings>

  <appSettings>
    <add key="Port" value="9002"/>
    <add key="SourceStationId" value="113"/>
    <add key="MessageTimeout" value="1000"/>
    <add key="BaseDirectory" value="C:\ControlWorks\Airkan"/>
    <add key="VerboseVariableLogging" value="false"/>
    <add key="PollingMilliseconds" value="15000"/>
    <add key="RestApiTestMode" value="false"/>
	<add key ="LogFilePath" value="C:\ControlWorks\Airkan\Logs"/>
  </appSettings>
  
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
